body {
    padding: 0px;
    margin: 0px;
}

.main-back {
    background-image: url("./daniel-thomas-_tYNzEqehMk-unsplash.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.black-overlay {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
}

.slider {
    text-align: center;
    position: absolute;
    /* background-color: black; */
    width: 100%;
    z-index: 50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Set the height to the full viewport height */
    box-sizing: border-box;
}

.content {
    display: none;
    width: 70%;
}

.content.active {
    display: block;
}

/* button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
} */

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.slider .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.slider .top-bar div {
    width: 50%;
}

.slider .img-fluid {
    width: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
    cursor: pointer;
}

.slider h1 {
    font-size: 40px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;

}

.slider h1 span {
    font-size: 40px;
    font-weight: 700;

}

/* .slider .input-fields input {
    border-bottom: 2px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    color: white;
} */

/* .slider .input-fields input:focus {
    border-bottom: 2px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    outline: none;
} */

.slider .input-fields .gallery-btn {
    color: rgb(0, 0, 0);
    background-color: white;
    text-decoration: none;
    padding: 4px 10px;
}

.slider .next-btn-container {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 50%;

}
.slider .next-btn-container span{
    color: white;
    cursor: pointer;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

/* .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  } */
.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background-color: #1111116d;
    backdrop-filter: blur(90px);
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: center;
    /* Center the images within the modal */
}

.popup img {
    max-width: 24%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    /* Add margin between images */
}
.popup li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 20px;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #cacaca;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}


.slider .content .check-boxes div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .content .check-boxes div input {
    height: 20px;
    width: 20px;
    /* background-color: transparent; */
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.08);
    color: white;
}

.slider .content .color-heading {
    display: flex;
    justify-content: space-evenly;
}

.slider .content .color-heading h1 {
    font-size: 20px;
    font-weight: 400;
    transition: .3s;
}

.slider .content .color-heading h1:hover {
    /* font-size: 30px; */
    transform: translatey(-5px);
    font-weight: 700;
    transition: .5s;
    cursor: pointer;
}


/* ----------------------sideNav------------------ */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #11111183;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(90px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav img{
    width: 60%;
    display: flex;
    margin: auto;
}
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

 /* {
    border-bottom: 2px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    color: white;
} */

#content5 .middle_part img {
    width: 3%;

}

 /* {
    border-bottom: 2px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    color: white;
} */
#content1 .middle_part input,
#content5 .middle_part input,
#content6 .middle_part input,
#content7 .middle_part input, 
#content8 .middle_part input,
#content9 .middle_part input,
#content10 .middle_part input,
#content11 .middle_part input,
#content12 .middle_part input,
#content13 .middle_part input,
#content14 .middle_part input,
#content17 .middle_part input,
#content19 .middle_part input

{
    border-bottom: 2px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    color: white;
    height: 35px;
}
/* #content6 .middle_part h1 span{
    font-weight: 700;
} */
/* #popup2 {
    display: none;
} */

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.child-container {
    width: 7%;
    box-sizing: border-box;
    position: relative;
}

.child {
    height: 100px;
    margin-bottom: 10px;
    background-color: lightblue;
    text-align: center;
}

.child-container h2 {
    margin: 0;
   
}
.child-container img {
    width: 130px;
    height: 130px;
}

#content16 .slider-container {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

#content16 .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#content16 .slider-item {
    flex: 0 0 calc(20% - 10px); /* 20% width with 10px gap */
    box-sizing: border-box;
    margin-right: 10px; /* Set the gap between images */
}


#content16 .slider-wrapper img {
    width: 100%;
    height: auto;
    margin: 5px 5px;
    display: block;
}

#content16 .slider-controls {
    margin-top: 20px;
    text-align: center;
}

#content16 button {
    margin: 0 5px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}
@media (max-width: 767px) {
    #content16 .slider-item {
        flex: 0 0 calc(50% - 10px);
    }
}


#content18 .middle_part h1:hover{
    color:rgb(193, 193, 193);
    transition: .3s;
    /* transform: scale3d(1.3, 1.3, 1.3); */
}
#content18 .middle_part h1:hover{
    color: rgb(193, 193, 193);
    transition: .3s;
    transform: scale3d(1.3, 1.3, 1.3);
    cursor: pointer;
}

#content20 .options{
    display: flex;
    justify-content: space-evenly;
}
#content20 .options a{
    text-decoration: none;
    color: white;

}
#content20 .options a:hover{
    color: rgb(193, 193, 193);
    transition: .3s;
    transform: scale3d(1.3, 1.3, 1.3);
    cursor: pointer;
    
}
.sidenav{
    width: 360px;
    display: flex;
    align-items: center;
    /* padding: 0px 20px; */
    text-align: start;

}
.sidenav h2,
.sidenav p{
    padding: 0px 20px;
    /* text-align: justify; */
}